@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto Mono", monospace;
  text-rendering: optimizeLegibility !important;
}

div.body-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
div.body-wrapper div.header-wrapper {
  background: #0B0A07;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10vw;
}
div.body-wrapper div.header-wrapper div.header {
  display: flex;
  max-width: 1560px;
  width: 80vw;
  margin: 64px auto;
}
div.body-wrapper div.header-wrapper div.header h1 {
  color: #FDFFF7;
  margin: 0 auto;
}
div.body-wrapper div.header-wrapper div.header h1 strong {
  color: #63C132;
}
div.body-wrapper div.section-1 {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 64px 10vw;
  background: #FDFFF7;
}
div.body-wrapper div.section-1 div.personal-details {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  width: 80vw;
  max-width: 1560px;
}
div.body-wrapper div.section-1 div.personal-details div.column-1 {
  width: 40vw;
  display: flex;
  flex-direction: column;
  text-align: right;
}
div.body-wrapper div.section-1 div.personal-details div.column-1 h1 {
  margin-right: 24px;
  opacity: 0.64;
}
div.body-wrapper div.section-1 div.personal-details div.column-1 h1 strong {
  color: #63C132;
}
div.body-wrapper div.section-1 div.personal-details div.column-2 {
  width: 40vw;
  display: flex;
  flex-direction: column;
  text-align: left;
}
div.body-wrapper div.section-1 div.personal-details div.column-2 h1 {
  margin-left: 24px;
}
div.body-wrapper div.section-1 div.personal-details div.column-2 h1 a {
  text-decoration: none;
  color: inherit;
}
div.body-wrapper div.section-2 {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 64px 10vw;
  background: #FDFFF7;
}
div.body-wrapper div.section-2 div.education {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 80vw;
  max-width: 1560px;
  overflow-x: visible;
}
div.body-wrapper div.section-2 div.education div.column-1 {
  width: 40vw;
  display: flex;
  flex-direction: column;
  text-align: right;
  background: #0B0A07;
  box-sizing: border-box;
  padding: 16px 24px;
}
div.body-wrapper div.section-2 div.education div.column-1 h1 {
  text-align: right;
  color: #FDFFF7;
}
div.body-wrapper div.section-2 div.education div.column-2 {
  width: 40vw;
  display: flex;
  flex-direction: column;
  text-align: left;
  box-sizing: border-box;
  padding: 16px 24px;
  overflow-x: visible;
}
div.body-wrapper div.section-2 div.education div.column-2 h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -0.19px;
}
div.body-wrapper div.section-2 div.education div.column-2 h2 {
  line-height: 28px;
  font-size: 18px;
  opacity: 0.3;
}
div.body-wrapper div.section-2 div.education div.column-2 h3 {
  position: absolute;
  right: 0;
  top: -20px;
  font-size: 12px;
  font-weight: 300;
}
div.body-wrapper div.section-2 div.education div.column-2 h3.qualification {
  right: unset;
  left: 0;
}
div.body-wrapper div.section-2 div.education div.column-2 p {
  font-size: 14px;
  opacity: 0.8;
  margin: 12px 0;
}
div.body-wrapper div.section-2 div.education div.column-2 br {
  margin: 10px 0;
  display: block;
}
div.body-wrapper div.section-2 div.education div.column-2 div.field {
  border-top: 1px solid black;
  box-sizing: border-box;
  padding: 6px 0 0;
  width: 28vw;
  max-width: 650px;
  margin-bottom: 32px;
  position: relative;
  overflow-x: visible;
}
div.body-wrapper div.section-2 div.education div.column-2 div.field:last-child {
  margin-bottom: 0;
}

/*# sourceMappingURL=main.css.map */
